// React simple map - overrides
.rsm-geography {
  stroke: $map-stroke;
  fill: $map-fill;
  stroke-width: 1.6;
}

.bubble-map__bubble {
  stroke: $bubble-stroke;
  fill: $bubble-fill;
  fill-opacity: $bubble-fill-opacity;
  stroke-width: 2;
  &:hover {
    stroke: $bubble-hover-stroke;
  }
}