
.bubble-map__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.bubble-map__summary-container {
  height: 100%;
  width: 100%;
}


.bubble-map__bubble {
  stroke: $bubble-stroke;
  fill: $bubble-fill;
  fill-opacity: $bubble-fill-opacity;
  stroke-width: 2;
  &:hover {
    stroke: $bubble-hover-stroke;
  }
}



// React simple map - overrides
.rsm-geography {
  stroke: $map-stroke;
  fill: $map-fill;
  stroke-width: 1.6;
}

