.chart-display__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.chart-display__title {
  @include subtitle

}

.chart-display__desc {
  width: 70%;
  font-size: $size-7;
  padding-bottom: $s-size;
  @media (min-width: $mid-breakpoint) {
    font-size: $size-6;

  }
}