.data-display-desc__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.data-display-desc__title {
  @include subtitle

}

.data-display-desc__desc {
  text-align: left;
  width: 100%;
  font-size: $size-6;
  padding-bottom: $s-size;
  @media (min-width: $mid-breakpoint) {
    font-size: $size-6;
  }
}