.data-table__container-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-table__container-inner {
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.data-table__table-container {
  font-size: $size-7;
  overflow-y: auto;
  width: 100%;
}

