.data-display-buttons__container {
  padding-bottom: $m-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-display-buttons__container-mobile {
  @include button-containers;
  padding: 0 $s-size;
}

.data-display-button__button-mobile {
  padding-bottom: $xs-size;
}