.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__notes {
  padding-bottom: $xs-size;
}

.footer__credit-container {
  display: block;
}

