
.line-chart__container {
  width: 100%;
}

.line-chart__x-axis {
  text {
    font-size: $size-7;
    @include desktop-fontsize;

  }
}

.line-chart__y-axis {
  text {
    font-size: $size-7;
    @include desktop-fontsize;

  }
}

.line-chart__crosshair-container {
  background-color: black;
  opacity: 0.9;
  color: $tooltip-font-color;
  font-size: $size-7;
  overflow: hidden;
  white-space: nowrap;
  @include desktop-fontsize;

  // react component tooltip styles
  border-radius: 3px;
  padding: 8px 21px;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  z-index: 999;
}

.line-chart__crosshair-label {
  @extend .tooltip__label;
}

.line-chart__line-series-1 {
  stroke: $line-series-1-color !important;
}