.stats__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: $s-size;
}

.stats__row {
  display: flex;
  width: 80%;
  max-width: 400px;
  justify-content: space-evenly;
  flex-direction: row;
}

.stats__col {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.stats__title {
  font-size: $size-6;
  font-weight: $weight-bold;
  text-align: center;
}

.stats__number {
  font-size: $size-3;
  color: $stats-number-color;
  text-align: center;

}