.tooltip__container {
  max-width: 30%;
  max-width: 170px;
  color: $tooltip-font-color;
  font-family: $family-sans-serif;
  font-size: $size-7;
}

.tooltip__label {
  font-weight: $weight-semibold;
}

.tooltip__footnote-container {
  padding-top: $xs-size;
}

.tooltip__footnote {

  font-style: italic;
}