.data-display-tooltip-wrapper__container {
  background: white;
  padding: 15px;
  font-size: 15px;
  line-height: 1.5;
}

.data-display-tooltip-wrapper__label {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
// .tooltip-numbers {
//   // font-weight: bold;

//   &.abbrev-numbers {
//     font-weight: normal;
//     text-transform: uppercase;
//     span {
//       font-weight: bold;
//     }
//   }
// }
