.tooltip__container {
  max-width: 30%;
  max-width: 170px;
}

.tooltip__label {
  font-weight: 600;
}


.tooltip__footnote-container {
  padding-top: $xs-size;
}

.tooltip__footnote {

  font-style: italic;
}