.data-table-table__container {
  width: 87%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.data-table-table__table-container {
  font-size: $size-7;
  overflow-y: auto;
  width: 100%;
  @include desktop-fontsize;
}

.data-table-table__no-data-row {

  td {
    text-align: center !important;
    padding: $s-size !important;
  }
}

.data-table-table__sort-icon {
  padding-left: $xs-size;
}

.data-table-table__hide {
  visibility: hidden;
}